@page
@model IndexModel
@{
    ViewData["Title"] = "Benedict Ibe - Profile";
}

<div class="text-center">
    <h1 class="display-4">Benedict Ibe</h1>
    <p class="lead">Specialist in Generative AI, Machine Learning And Computer Vision</p>
    <p><a href="https://www.linkedin.com/in/ibe-benedict-3719b1140/">LinkedIn</a> | <a href="https://benedictibe.github.io/">GitHub</a></p>
    <p>Manchester, UK M24 5TP | (+44) 07476836637 | Ibebenedict6@gmail.com</p>
</div>

<div class="mt-4">
    <h2>Machine Learning Projects</h2>
    <ul>
        <li><a href="https://github.com/BenedictIbe/career-path-AI">Career Path Optimizer</a> – Eden Smith Group – Manchester, UK</li>
        <li><a href="https://github.com/BenedictIbe/ALL-Detection/blob/main/ALL_Classification_(Final_V8).ipynb">Diagnosis and Prediction of Acute Lymphoblastic Leukemia</a> – Manchester, UK</li>
        <li><a href="https://github.com/BenedictIbe/leaf-disease-image-detection/blob/main/leaf-disease.ipynb">Detection of Plant Leaf Disease</a> – Manchester, UK</li>
        <li><a href="https://github.com/BenedictIbe/Text-Mining-And-Sentiment-Analysis">Sentiment Analysis on Restaurant Reviews</a> – Personal Project – Manchester, UK</li>
    </ul>

    <h2>GenAI Projects</h2>
    <ul>
        <li><a href="https://huggingface.co/spaces/BennedictOnochie/GenAI_code_generator">Text-To-SQL-GenerrativeAI</a> – Personal Project – Manchester, UK</li>
    </ul>
</div>